html,
body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Serif", serif;
  background-color: hsl(11, 20%, 97%);
  color: hsl(259, 8%, 30%);
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 140px;
  margin: 8px auto;
}

input {
  background-color: hsl(11, 22%, 89%);
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "IBM Plex Serif", serif;
  margin: 10px 0;
}

button {
  color: #fdfdfd;
  background-color: hsl(11, 82%, 30%);
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "IBM Plex Serif", serif;
}

button:hover {
  background-color: hsl(11, 82%, 20%);
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: 20px;
  background-color: hsl(51, 100%, 99%);
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover {
  background-color: hsl(48, 71%, 92%);
  cursor: pointer;
}
